# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_AUTH_TYPE=cp4d
DISCOVERY_AUTH_URL=<add_cpd_path>
DISCOVERY_USERNAME=<add_username>
DISCOVERY_PASSWORD=<add_password>
DISCOVERY_URL=<add_disco_url>
# # If you use a self-signed certificate, you need to disable SSL verification.
# # This is not secure and not recommended.
#DISCOVERY_AUTH_DISABLE_SSL=true
#DISCOVERY_DISABLE_SSL=true
DISCOVERY_PROJECT_ID=<add_project_id>

# Db2 Warehouse
DB2WH_DSN=<add_db2_ssldsn>

# Optional settings
WRITE_TO_CSV_FILE=true
WRITE_TO_DB=true
